*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.nav-link li{
    list-style: none;
    padding: 20px;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    
}

.nav-bar{
    background-color: #3f91b2;
    box-shadow: 7px 7px 30px black;
    position: fixed;
    width: 100%;
}

.headerPart{
    display: flex;
    background-color: #3f91b2;
    height: 600px;
}

.headerElementsOne img{
    width: 400px;
}

.headerElementsOne{
    width: 30%;
    margin-top: 50px;
    padding: 5%;
}
.headerElementsTwo{
    width: 70%;
    margin-top: 140px;
    padding: 5%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
}
.color{
    color: #f68e1f;
}

.bannerPartContent{
    width: 40%;
    padding: 12%;
}

.bannerPart{
    background-image: url(../images/banner-01.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerPart p{
    text-align: justify;
}

.button{
    border: none;
    background-color: #f79021;
    padding: 10px 40px;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    box-shadow: 7px 7px 20px black;
    border-radius: 10px;
}

.expoMain{
    display: flex;
}

.experienceElements{
    width: 50%;
    padding: 5%;
    background-image: linear-gradient(to right, #99DAFF, #2A9AC5);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 7px 7px 30px black;
}

.experience{
    background-image: linear-gradient(to right, #2A9AC5, #99DAFF);
    height: 500px;
}

.feedBackElements{
    display: flex;
    width: 50%;
    padding: 2%;
    
}

.feedBackElements img{
    width: 300px;
}

.feedBackPart{
    display: flex;
    
    
}
.feedBack{
    background-color: #3f91b2;
    height: 550px;
}